*{
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-menu__component{
  border: 1px solid #1e90ff;
  margin-left: auto;
}

.top-menu__component > img{
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.topics > a{
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  color: whitesmoke;
}

.topics > a:hover{
  transform:scale(1.2);
  transition: .3s;
  font-weight: bolder;
  color:navajowhite;
}
