*{
  border: 1px solid red;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-menu__component{
  
}
.topics > p{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  text-align: center;
}

